@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: auto;
    
}

li{
    list-style-type: none;
}


.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    min-width: 100%;
    gap: 10px;
    
}

.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.logo{
    font-size: 24px;
}
h1{
    font-size: 48px;
    font-weight: extra-bold;
}
.info{
    font-size: 36px;
    font-weight: extra-bold;
}
.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    display: flex;
    max-width: 1200px;
    outline:dotted 1px red;
    align-items: center;

}
p{
    flex-wrap: wrap;
}


li{
    padding-right: 20px;
}
.right-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.sign-up{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.sign-up-left{
    font-size: 18px;
    color: #E5E7EB;
}


.box{
    display:flex;
    width:150px;
    height:150px;
    border:solid 2px blue;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.boxes{
    display: flex;

    gap: 40px;
    justify-content: center;
    align-items: center;
}

.sub-boxes{
    display: flex;
    flex-direction: row;
    width:250px;
    height:250px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.padding{
    max-width: 1200px;
    display: flex;
    justify-content: start;
}

.content{
    width: 100%;
    max-width: 1200px;
}

.upper-right{
    display: flex;
    flex-direction: row;
}

.text-box-two{
    display: flex;
    align-items: center;
    max-width: 1200px;
    min-width: 100%;
    flex-direction: column;
}
.text-box-three{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    outline:dotted 1px red;
    min-height:100%;
    background-color: #E5E7EB;
    min-width: 100%;
}
.width{
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    width: 100%;
    height: 100%;
}
h2{
    max-width: 1000px;
    max-height: auto;
}
.thor{
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    font-size: 24px;
    font-weight: bolder;
    outline:dotted 1px red;
    min-width: 100%;

}

.top-button{
    background-color: #3882F6;
    border-radius: 5px;
    width: 13%;
    height: 10%;
    color: #F9FAF8;
    border: none;
}
