@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display:flex;
    flex-direction: column;
    outline: dotted 1px red;
    justify-content: center;
    max-width: auto;
    
}


.header{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    min-width: 100%;
    outline: solid 1px red;
}

.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
p{
    flex-wrap: wrap;
}


li{
    padding-right: 20px;
}
.right-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    outline: solid 1px red;
}

.sign-up{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.sign-up-left{
    font-size: 18px;
    color: #E5E7EB;
}


.box{
    display:flex;
    width:100px;
    height:100px;
    border:solid 2px blue;
    border-radius: 20px;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
}

.sub-boxes{
    display: flex;
    flex-direction: row;
    width:100px;
    height:200px;
    flex-wrap: wrap;
}

.padding{
    max-width: 1200px;
    display: flex;
    justify-content: start;
    width: 100%;
    outline: dotted 1px green;
}

.content{
    width: 100%;
}

.upper-right{
    display: flex;
    flex-direction: row;
}